<div class="jumbotron indexJumbotron">
  <h1 class="display-4 indexJumbotronText">Buscador de gasolineras</h1>
  <p class="lead indexJumbotronText">Esta app web permite buscar gasolineras en territorio español, por ID o código postal.</p>
  <p class="indexJumbotronText">Creado con Angular como parte del proyecto Stack MEAN.</p>
  <hr class="my-4">
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button" [routerLink]="['/buscar/codpostal']">Buscar por Cód. Postal</a>&nbsp;
    <a class="btn btn-primary btn-lg" href="#" role="button" [routerLink]="['/buscar/id']">Buscar por ID</a>
  </p>
</div>
