<h1>Buscar por Código Postal</h1>

<form (ngSubmit)="submitHandler()">
  <div class="form-group col-md-2 gasolineraForm">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label for="idInput">
          <span class="input-group-text" id="basic-addon3">Cód. Postal</span>
        </label>
      </div>
      <input type="text" class="form-control gasolineraInput" id="idInput" aria-describedby="basic-addon3" size="5" placeholder="30800" [(ngModel)]="codPostal" [ngModelOptions]="{standalone: true}"/>&nbsp;
      <button class="btn btn-primary mb-2" type="submit">Buscar</button>
    </div>
  </div>
</form>

<div *ngIf="gasolineras !== null && gasolineras.length === 0">
  <div class="alert alert-warning" role="alert">
    No se han encontrado gasolineras.
  </div>
</div>

<div *ngIf="error === true">
  <div class="alert alert-danger" role="alert">
    No se ha podido obtener la gasolinera. Inténtalo de nuevo más tarde.
  </div>
</div>

<div *ngIf="gasolineras != null && gasolineras.length > 0">
  <ng-container *ngFor="let gasolinera of gasolineras">
    <app-gasolinera [gasolinera]="gasolinera"></app-gasolinera>
    <br/>
  </ng-container>
</div>
